@{
    ViewData["Title"] = "Lime Board";
}

<div>
    <h1 class="display-4">Lime Board</h1>
    <div>
        <a href="/items/index">item Page</a>
    </div>
    <div>
        <a href="/board">board Page</a>
    </div>
</div>


