@model WebApplication1.Models.limeboard.Board;
@{
	ViewData["Title"] = "Info";
}

<div>
	<h3>Board Info</h3>
	<form asp-action="Edit" method="post">
		<div class="form-group">
			<label for="Id">Id</label>
			<input type="text" class="form-control" asp-for="Id" disabled/>
		</div>

		<div class="form-group">
			<label for="Title">Title</label>
			<input type="text" class="form-control" asp-for="Title" />
		</div>

		<div class="form-group">
			<label for="Content">Content</label>
			<input type="text" class="form-control" asp-for="Content" />
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>

	</form>
</div>