@model List<WebApplication1.Models.limeboard.Board>

@{
	ViewData["Title"] = "Index";
}

<h3>LimeBoard</h3>

@* <a href="/board/create">글쓰기</a> *@
<button onclick="location.href='/board/create'">글쓰기</button>

<table class="table">
	<thead>
		<tr>
			<th>BoardId</th>
			<th>Title</th>
			<th>Writer</th>
			<th>CreatedAt</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var board in Model)
		{
			<tr>
				<td>@board.Id</td>
				<td onclick="window.location='/board/info/@board.Id';" style="cursor: pointer;">@board.Title</td>
				<td>@board.Member.Name</td>
				<td>@board.CreatedAt</td>
			</tr>

		}
	</tbody>

</table>
